
.home-chart-container {
    display: block;
}

.chart-group{
    display: flex;
    margin: 2%;
}

.chart-container {
    background-color: #434957;
    width: 40%;
    min-height: 45vh;
    text-align: center;
    border-radius: 220px;
    margin: auto;
}

.chart {
    display: flex;
    justify-content: center;
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 96px;
    color: #FFFFFF;
    text-align: center;
    pointer-events: none;
}

#total-clients-container {
    height: 28vh;
    display: flex;
    align-items: center;
}
.total-clients {
    font-family: 'Economica', sans-serif;
    margin: 0 auto;
    font-size: 125px;
    text-shadow: 0px 0px 20px lightblue;
    color: var(--myDarkBlue);
    /* color: hsl(112, 86%, 42%); */
}