
.form {
    margin: 0 auto;
    width: 30vw;
    display: block;
    justify-content: center;
    align-items: center;
    border: 1px solid #4cceac;
    border-radius: 5%;
    padding: 15px;
}
.error-msg {
    font-size: 20px;
}

.client-form {
    background-color: #141b2d;
    position: absolute;
    z-index: 1;
    top: 42%;
    left: 57%;
    transform: translate(-50%, -50%);
    animation: show 1.2s;
}

@keyframes show {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.form-group-small {
    display: flex;
    justify-content: space-evenly;
}