
.form {
    margin: 0 auto;
    width: 30vw;
    display: block;
    justify-content: center;
    align-items: center;
    border: 1px solid #4cceac;
    border-radius: 5%;
    padding: 15px;
}
.error-msg {
    font-size: 20px;
}