.navbar {
    text-align: center;
    height: 100%;
    width: 15vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--myBlue);
    padding-top: 60px;
}
.navbar-link {
    text-decoration:solid var(--myGreen) underline;
    color: var(--myWhite);
}