.App {
  text-align: center;
}


.page-404:nth-child(1n) {
    display: block;
    align-self: center;
    width: 100%;
}

.search-form {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.invoice-amount {
    font-family: 'Economica', sans-serif;
}

.center-form-field {
    width: 100%;
    display: flex;
    justify-content: center;
}